@import "reset.scss";

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgb(89, 100, 255),
    rgb(174, 75, 255)
  );
  position: relative;
}

.form-box {
  padding: 400px 250px;
  background: #ffffff;
  text-align: center;
}
